<textarea class="note-textarea" disabled placeholder="{{placeholderMessage}}" [value]="tryGetMessage()"></textarea>
<div id="circle-key" [ngStyle]="{'background-color': errorOccured?'darkred':'goldenrod'}">
  <!--  main panel  -->
  <button mat-icon-button *ngIf="errorOccured" (click)="errorAcknowledged()">
    <i class="fa fa-times"></i>
  </button>
  <button mat-icon-button *ngIf="!errorOccured && shouldShowDecrypted()" (click)="hideDecrypted()">
    <i class="fa fa-unlock-alt"></i>
  </button>
  <button mat-icon-button *ngIf="!errorOccured && !shouldShowDecrypted()" (click)="decryptedHidden ? showDecrypted() : tryDecryptNote()"
          [disabled]="isDecrypting">
    <i class="fa fa-lock"></i>
  </button>

  <!--  SUBPANEL  -->
  <div id="circle-cog">
    <button disabled mat-icon-button>
      <i class="fa fa-cogs"></i>
    </button>
  </div>
<!--  <div id="circle-user">-->
<!--    <button mat-icon-button (click)="openUserDialog()" *ngIf="!securityServce.isLogged()">-->
<!--      <i class="fa fa-user"></i>-->
<!--    </button>-->
<!--    <button mat-icon-button (click)="securityServce.logout()" *ngIf="securityServce.isLogged()">-->
<!--      <i class="fa fa-sign-out"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div id="circle-folder">-->
<!--    <button mat-icon-button (click)="openFolderDialog()" [disabled]="!securityServce.isLogged()">-->
<!--      <i class="fa fa-folder-open"></i>-->
<!--    </button>-->
<!--  </div>-->
</div>
