.text-background {
  background: #ffffff;
  height: 25px;
  line-height: 25px;
  border-top: solid #4a8858 1px;
  display: flex;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}

.left-side {
  width: 40%;
}

.app-title {
  float: right;
  margin-right: 8px;
}

.right-side {
  width: 60%;
  border-left: solid 1px #4a8858;
}

.note-name {
  float: left;
  margin-left: 10px;
}

.note-name span {
  margin-right: 8px;
}

.folder-icon {
  float: right;
}

.note-container {
  display: flex;
  padding: 0 12px;
  margin-left: 12px;
  border-left: solid 1px #4a8858;
}

.fa {
  margin-right: 7px;
}

.app-menu {
  float: right;
}

.app-menu span {
  border-left: solid 1px;
  padding-left: 8px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: initial;
}

@media (max-width: 768px) {
  .text-container {
    width: 100%;
    left: initial;
  }

  .left-side {
    width: 30%;
  }

  .right-side {
    width: 70%;
    border-left: initial;
  }

  .app-title {
    position: fixed;
    left: 2%;
  }

  .note-name {
    float: right;
  }

  .separator {
    visibility: hidden;
  }

  .node {
    background: white;
  }
}
