<div class="text-background">
  <div class="left-side">
    <span class="app-title"><a href="/">hashnote</a></span>
  </div>
  <div class="right-side">
    <div class="app-menu">
      <span (click)="openFolderDialog()" *ngIf="securityService.isLogged()">Folders
        <i class="fa fa-folder-open"></i>
      </span>
      <span (click)="openUserDialog()" *ngIf="!securityService.isLogged()">Sign in
        <i class="fa fa-user"></i>
      </span>
      <span (click)="securityService.logout()" *ngIf="securityService.isLogged()">Sign out {{securityService.getLoggedUser()}}
        <i class="fa fa-sign-out"></i>
      </span>
    </div>
    <div class="note-name" *ngIf="getName() != null">
      <span><i class="fa fa-file-text"></i>{{emittedNote.name}}</span>
      <span><i class="fa fa-unlock"></i>{{emittedNote.keyVisits}}</span>
      <span *ngIf="emittedNote.maxVisits > 0">/{{emittedNote.maxVisits}}</span>
    </div>
  </div>
</div>
