<h1 mat-dialog-title>Provide a key to decrypt this note</h1>
<mat-dialog-content>
  <div class="icon-string-container">
    <button disabled mat-icon-button>
      <i class="fa fa-key" style="color: red;"></i>
    </button>
    <mat-form-field>
      <mat-label>Key</mat-label>
      <input matInput [(ngModel)]="key">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="confirm()" color="primary">Confirm</button>
  <button mat-button (click)="this.dialogRef.close()">Cancel</button>
</mat-dialog-actions>
